/* Popup Overlay */

.message-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 1000;
}

.overlay-pointer-override {
    pointer-events: none;
}

.popup-bubble {
    display: flex;
    flex-direction: column;
    position: relative;
    background: transparent;
    padding-top: 24px;

    min-width: 600px;
    max-width: 80vw;
    min-height: 200px;
    gap: 24px;

    box-sizing: border-box;
}

.popup {
    background-color: var(--bg-surface);
    border: 2px solid var(--border);
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    text-align: center;
    padding-top: 2.5vh;
    height: 5vh;
}

.popup.fade-in {
    animation: fadeIn 0.5s forwards;
}

.popup.fade-out {
    animation: fadeOut 0.5s forwards;
}

/* Animations */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}